
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    flex-grow: 1;
}

.scaffoldRoot {
    height: calc(100vh - (2*1.5rem));
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

.sidebarArea {
    height: 100%;
    width: 270px;
    align-items: stretch;
    flex-shrink: 0;

}
.mainTitle{
    font-size: 3rem;
    color: rgba(254,176,89,255);
}
main{
    flex-grow: 1;
}
